<div class="container">
  
  <div class="row">
    <% @users.in_groups_of(3) do |user_line| %>
      <div class="col-md-12 user_line">
        <%user_line.compact.each do |user|%>
          <div class="col-md-4 user">
            <h3><%=user.first_name + user.last_name%></h3>
            <h5><%=user.email%></h5>
          </div>
        <%end%>
      </div>
    <%end%>
  </div>

</div>
