/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #99ddff;
}

.navbar {
  height: 80px;
  background-color: #00aaff;
  color: #2e2e1f;
  border: none;
  opacity: 0.85;

  a {
    color: #2e2e1f;
  }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
  }

  li {
    text-decoration: none;
  }
}

.container.content {
  margin: 0 auto;
  background-color: #E3F0F0;
  padding: 95px 0;
}


footer {
  margin: 0 auto;
  height: 70px;
  background-color: #00aaff;
  color: #2e2e1f;
  border: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.85;
}
